<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Restaurants Transit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C45EE68E1C6ABF8D00EE0643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45EE6A21C6ABF8D00EE0643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45EE6AD1C6ABF8D00EE0643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
